
    <!-- nav bar one -->

        <link rel="stylesheet" href="../../public/style.css">
        <script src="../../public/js/file.js"></script>
    
    <ul id="bar-one">
        <div class="topnav-center">
            <a>BANKI</a>
        </div>
        <div class="topnav-right">
            <a type = "button" class = "btn btn-default" href = "./logout">LOG OUT </a>
        </div>
    </ul>

    <!-- nav bar two -->
    <ul id="bar-two">
        <li id="bar-li"><a class="bar-text" id="transfer-page">Pay & Transfer</a></li>
        <li id="bar-li"><a class="bar-text" id="account-create-page">Open Account</a></li>
        <li id="bar-li"><a class="bar-text" id="account-page">Accounts</a></li>
    </ul>

    <div class="container">
        <div class="flex-item one">
            <div class="flex-item" id="checkings-box">
                <p class="subtitles">CHECKING</p>
                <p class="right-align numbers">$30,029.00</p>
                <p class="right-align">Available Balance</p>

            </div>
            <div class="flex-item" id="savings-box">
                <p class="subtitles">SAVINGS</p>
                <p class="right-align numbers">$100,029.00</p>
                <p class="right-align">Available Balance</p>
            </div>
            <div class="flex-item" id="help-box">
                <p class="subtitles">HELP</p>
            </div>
            <div class="flex-item" id="info-box">
                <p class="subtitles">INFO</p>
            </div>
        </div>
        <div class="flex-item two">
            <div class="flex-item" id="total-box">
                <p class="subtitles">TOTAL CHECKING</p>
                <p class="numbers">$30,029.00</p>
                <p>Overdraft Protection: OFF/ON
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </p>
                <button>Statements</button>
                <button>Paperless Statements</button>
            </div>
            <div class="flex-item" id="transactions-box">
                <p class="subtitles">TRANSACTIONS</p>
                <input type="text" name="search" id="transaction-query" placeholder="Search..">
                <ul class="list-group" id="result"></ul>
                <button>Search</button>
                <button id="table-export">Export to Excel</button>
                <p></p>
                <table id="table-data">
                    <tr>
                        <th>Transaction</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                    <tr>
                        <td>Starbucks</td>
                        <td>$7.09</td>
                        <td>$40,000.00</td>
                    </tr>
                    <tr>
                        <td>Home Depot</td>
                        <td>$45.21</td>
                        <td>$40,000.00</td>
                    </tr>
                    <tr>
                        <td>Voodo Donut</td>
                        <td>$23.50</td>
                        <td>$40,000.00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>



 
