   





         <br>
        <br>
        <br>

  

     <a id="btncard" type = "button" class = "btn btn-default" href = "./logout">Click here  </a>
  <a id="btnin" type = "button" class = "btn btn-default" href = "./login">login  </a>
      <a id="btnsignup" type = "button" class = "btn btn-default" href = "./signup">Sign up  </a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{{!-- </div> --}}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>WARNING!!!!</strong>THIS IS A FAKE BANK WEBSITE!! CREATED FOR A PROJECT FOR A CODING BOOTCAMP
</div>
   