

         
  
    
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <body class="login">
       <div id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <br>
        
        <br>
        <label id="signinp" for="password">Password</label>
        <input name="password" type="password" />
        {{!-- <input class="btn" type="submit" value="Sign In" /> --}}
        <br>

  <a id="btninl" type = "button" class = "btn btn-default" href = "dashboard">submit</a>
    </div>
   
  </body>