<br>
<br>
<br>
<br>
<div id="first">
  <div id="second"></div>
</div>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>WARNING!!!!</strong>THIS IS A FAKE BANK WEBSITE!! CREATED FOR A PROJECT FOR A CODING BOOTCAMP
</div>

    <div id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <br>
        
        <br>
        <label for="password">Password</label>
        <input name="password" type="password" />
        {{!-- <input class="btn" type="submit" value="Sign In" /> --}}
        <br>
        
    <a id="btnin" type = "button" class = "btn btn-default" href = "dashboard">Log In</a>
    <br>
     

      <a id="btnsignup" type = "button" class = "btn btn-default" href = "./signup">Sign up here </a>


</div>

  
   
   
      
      
    </form>
    
  
    
   
  